@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins&display=swap');
body {
  margin: 0;
  font-family: 'Open Sans' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff !important;
  color: black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  font-family: 'Open Sans' !important;
  background: #222222;
}

.spinner-border {
  height: 15px !important;
  width: 15px !important;
  border-width: 2px !important;
}

.spinner-border.loader {
  height: 50px !important;
  width: 50px !important;
  border-width: 2px !important;
}


.skeleton-box {
  background-color: #DDDBDD;
  position: relative;
}

.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 2s infinite;
  animation: shimmer 2s infinite;
  content: "";
}

@-webkit-keyframes shimmer {
  100% {
      transform: translateX(100%);
  }
}

@keyframes shimmer {
  100% {
      transform: translateX(100%);
  }
}  